@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body {
  background: linear-gradient(0.3turn, rgba(45, 52, 54, 0.2), rgba(255, 118, 117, 0.1));
}

/* header */
.header {
  width: 95vw;
  height: 10vh;
  margin-left: 2.5vw;
  background: #2d3436;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.header-wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button {
  width: 20%;
  height: 50%;
  border-radius: 60px;
  cursor: pointer;
  position: relative;
  transition: all 1s ease-out;
  z-index: 1;
  overflow: hidden;
  border: 2px solid #ff7675;
  color: white;
  background-color: #2d3436;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button::before{
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.6s ease;
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}

.header-button:hover::before{
  height: 400%;
}

.active::before {
  height: 600%
}

.active:hover::before {
  height: 600%
}


/* markets */
.list-wrapper {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 3%;
}

.card {
  width: 22%; 
  height: 200px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 5px #ff7675;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #2d3436;
  color: white;
  transition: all, 0.3s ease-out;
}

.fiat-card {
  width: 90%; 
  height: auto;
  margin-left: 5%;
  padding: 15px;
}
.card-data {
  margin-top: 15px;
}

.fiat-card-data {
  width: 90%;
}

b {
  color: #ff7675;
}

.card:hover {
  scale: calc(1.1);
}

.fiat-card:hover {
  scale: calc(1);
}
